/**
file: style2.css
**/

html {
    font-family:Verdana, Arial, sans-serif;
}

.title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#phh {
    text-decoration: none;
    margin-top: 35px;
    font-size: 160%;
}
a:link { text-decoration: none; }

