/**
file: style2.css
for index2.html - this is 404 page
**/


body {
    margin: 0;
    background: rgb(47, 5, 5);
    overflow-x: hidden;
    /* Hide horizontal scrollbar */

}


.container {
    background-image: url(images/bph404.png);
    background-attachment: fixed;

    background-color: aquamarine;
    background-size: 100% 100%;
    color: rgb(255, 255, 255);

    min-width: 100%;
    height: 1100px;
}


.container div {
    /* padding-top: 15%; */
    text-align: center;
    display: flex;
    flex-direction: column;


    font-family: "report", sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: .2rem;
    font-size: 300%;
}

.container div:not(.thebutton){
    padding-top: 15%;
}

.container .thebutton{
    display: flex;
    justify-content: center;
    
}

/*trying to do something with the headerr */
.header {
    padding: 30px 16px;
    background: rgb(0, 0, 0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(54, 66, 94, 1) 0%, rgba(0, 0, 0, 0) 100%);
    color: #f1f1f1;
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;

}

.header-right {
    display: flex;
    align-items: center;
}

.header-right * {
    margin-left: 20px;
}

a.account {
    font-family: "report", sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: .2rem;
    font-size: 250%;

    background-color: #EC6069;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px 50px;
    margin-right: 40px;
}

.account:hover {
    background-color: rgb(203, 116, 116);
    color: rgb(255, 255, 255);
}



/*the go back*/
a.goback {
    font-family: "report", sans-serif;
    font-weight: 700;
    font-style: normal;
    letter-spacing: .2rem;

    margin-left: auto;
    margin-right: auto;
    
    background-color: #EC6069;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50px 50px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    width: fit-content;
}



.goback:hover {
    background-color: rgb(203, 116, 116);
    color: rgb(255, 255, 255);
}




